<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Page</title>
</head>
<body>
    {% if user_name == '' %}
        <h1>Hello, Welcome to this Website</h1>
    {% elif user_age == 0 %}
        <h1>Hello {{ user_name }}, Welcome to this Website</h1>
    {% else %}
        <h1>Hello {{ user_name }}, You are {{ user_age }} Years Old, Welcome to this Website</h1>
    {% endif %}
</body>
</html>
